<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>Vue.js part2</title>
    </head>

    <body>
        <h2>App2</h2>
        <div id="app2">
            <p>{{ message }}</p>
            <input v-model="message">
        </div>
        <hr>
        <h2>App3</h2>
        <div id="app3">
            <ol>
                <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
            </ol>
        </div>
    </body>
    <script>
        var app1 = new Vue({
            el: '#app',
            data: {
                counter: 0,
                list: ['Apple', 'Banana', 'Strawberry']
            },
            computed: {
                length: function () {
                    return this.list.length
                }
            },
            methods: {
                addItem: function () {
                    this.list.push('Orange' + (++this.counter).toString())
                }
            }
        })
        var app2 = new Vue({
            el: '#app2',
            data: {
                message: 'Hello Vue!'
            }
        })

        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        })

        var app3 = new Vue({
            el: '#app3',
            data: {
                groceryList: [
                    { id: 0, text: 'Vegetables' },
                    { id: 1, text: 'Cheese' },
                    { id: 2, text: 'Whatever else humans are supposed to eat' }
                ]
            }
        })
    </script>

</html>
