<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>remove-undo</title>
        <style>
            #list { height: 100px;}
        </style>
    </head>
    <body>
        <h2>Add and Remove</h2>
        <div id="app">
            <p>Length: {{ length }}</p>
            <ul id="list">
                <li v-for="(item, i) in list" :key="item">{{ item }}
                    <button @click="removeItem(i)">remove</button>
                </li>
            </ul>
            <button v-if="exist()" @click="undoItem">undo</button>
            <p>Removed List: {{ removedList }}</p>
        </div>
    </body>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                list: ['Apple', 'Banana', 'Strawberry'],
                removedList: []
            },
            computed: {
                length: function () {
                    return this.list.length
                }
            },
            methods: {
                removeItem: function (i) {
                        this.removedList.push(this.list.splice(i, 1))
                },
                undoItem: function () {
                    if (this.removedList.length !== 0) {
                        this.list.push(this.removedList.splice(0, 1).toString())
                    }
                },
                exist: function () {
                    return this.removedList.length > 0
                }
            }
        })
    </script>
</html>
